<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a
                class="brand" href="{% url 'advertisement-list' %}">Meu Imóvel </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="{% url 'property-create' %}"> Cadastrar imóvel</a>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> Acesso <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Login</a></li>
                            <li><a href="javascript:;">Profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
