<script>
    function initMap() {
        var campo_latitude = document.getElementById('latitude');
        var campo_longitude = document.getElementById('longitude');
        var latitude = parseFloat(campo_latitude.value.toString().replace(",", "."));
        var longitude = parseFloat(campo_longitude.value.toString().replace(",", "."));

        var haightAshbury = {lat: latitude, lng: longitude};

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: -22.914274314617900000, lng: -43.197194886200000000},
        });

        addMarker(haightAshbury);
    }

    // Adds a marker to the map and push to the array.
    function addMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
{% include "gmaps/key.html" %}