{% extends "base.html" %}
{% load static %}
{% block title %}Meu Imóvel{% endblock %}
{% block container %}
    <div style="padding-left: 5%">
        <h1> Lista de Anúncios</h1><br/>
    </div>
    <div style="text-align: center;">
        {% if form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in form.non_field_errors %}
                    <span class="label label-important">
                            {{ error | linebreaksbr }}
                        </span>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div style="padding-left: 70%">
        <form action="{% url 'advertisement-list-upcoming' %}" method="post">{% csrf_token %}
            <div id="busca">
                <h4>Busque o imóvel mais próximo:</h4>
                <input id="endereco_cliente" class="controls" name="endereco_cliente">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    {% for advertisement in object_list %}
        <div class="wrapper">
            <div class="box header">Preço: <span class="add-on">R$</span>{{ advertisement.price }}</div>
            <div class="box sidebar">
                <a href="{% url 'advertisement-read' advertisement.pk %}" title="Visualizar Detalhes">
                    <img src="{{ advertisement.imovel.image.url }}">
                </a>
            </div>
            <div class="box sidebar2">{{ advertisement.imovel.address }}</div>
            <div class="box content"><span>{{ advertisement.description | linebreaks }}</span></div>
            <div class="box footer">Contato: {{ advertisement.contact_email }} | {{ advertisement.contact_phone }}
                {% if user.is_authenticated %}
                 <a href="{% url 'advertisement-delete' advertisement.pk %}">
                     <span style="padding-left:90% ; color: black" class="icon-trash">Remover</span></a>
                {% endif %}
            </div>
        </div>
        <br/>
        {% empty %}
            <h3 style="text-align: center;">Não há Anúncios disponíveis</h3>
    {% endfor %}
    <style>

        .sidebar {
            grid-area: sidebar;
        }

        .sidebar2 {
            grid-area: sidebar2;
        }

        .content {
            grid-area: content;
        }

        .header {
            grid-area: header;
        }

        .footer {
            grid-area: footer;
        }

        .wrapper {
            background-color: #fff;
            color: #444;
        }

        .wrapper {
            display: grid;
            grid-gap: 1em;
            grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer"
        }

        @media only screen and (min-width: 500px) {
            .wrapper {

                grid-template-columns: 20% auto;
                grid-template-areas: "header   header" "sidebar  content" "sidebar2 sidebar2" "footer   footer";
            }
        }

        @media only screen and (min-width: 600px) {
            .wrapper {
                grid-gap: 20px;
                grid-template-columns: 120px auto 120px;
                grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer";
                padding-left: 10%;
            }
        }

        .header,
        .footer {
            background-color: #999;
        }

        .sidebar img {
            max-width: 200px;
            max-height: 150px;
            width: auto;
            height: auto;
        }

        .content p {
            margin-left: 30%;
            max-height: 150px;
        }

        .sidebar2 {
            margin-right: 10%;
            width: auto;
            height: auto;
        }
    </style>
{% endblock container %}